<div>
    <h1>Инструкция по заполнению</h1>
    <p>Уважаемы респондент!</p>
    <p>Вопросы по оценке цифровой зрелости разделены на шесть направлений:</p>
    <ol>
        <li>Организационная культура и управление</li>
        <li>Кадры</li>
        <li>Процессы</li>
        <li>Продукты</li>
        <li>Данные</li>
        <li>Инфраструктура и инструменты</li>
    </ol>
    <p>Всего в сумме 66 вопросов, по каждому из вопросов необходимо проставить оценку в активную ячейку. Модель оценки – дискретная от 0 до 4 с шагом 0,25.</p>
    <p>Для точного выбора значения используется шкала с разбивкой по уровням ( Для каждого из уровней предложен вариант ответа).</p>
    <p>Вначале необходимо определиться с уровнем, который наиболее подходит для вашего ИОГВ, затем - выставить ему оценку в столбец «Ранг(ваша оценка)».</p>
    <p>Пример выбора оценки для уровня «1-2»:</p>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th rowspan="2">Критерий</th>
                <th rowspan="2">Ранг (ваша оценка)</th>
                <th colspan="4">Уровень цифровой зрелости</th>
            </tr>
            <tr>
                <th>0-1</th>
                <th>1-2</th>
                <th>2-3</th>
                <th>3-4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Степень понимания инструкции по заполнению анкеты по ЦТ</td>
                <td></td>
                <td>Понимания заполнения нет, либо оно носит фрагментарный характер</td>
                <td>Есть общее понимание по заполнению</td>
                <td>Понимание по заполнению есть, но существуют вопросы к деталям</td>
                <td>Все предельно понятно</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>да, формулировка полностью соответствует (2,0);</li>
        <li>скорее да, чем нет (1,75);</li>
        <li>затрудняюсь ответить (1,5);</li>
        <li>скорее нет, чем да (1,25);</li>
        <li>нет, формулировка полностью не соответствует (1,0).</li>
    </ul>

</div>