{% extends 'site/base.html' %}

{% block content %}
{{ super() }}
<div class="container-sm">
<!--    <div class="card m-5">-->
<!--        <h5 class="card-header">Опрос</h5>-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title">Опрос для ИОГВ</h5>-->
<!--            <p class="card-text">Опрос предназначенный для определения уровня информатизации струкрур ИОГВ</p>-->
<!--            <a href="/survey/login" class="btn btn-primary">Пройти</a>-->
<!--        </div>-->
<!--    </div>-->

    <div class="card m-5">
        <h5 class="card-header">Опрос без cookie</h5>
        <div class="card-body">
            <h5 class="card-title">Опрос для ИОГВ</h5>
            <p class="card-text">Опрос предназначенный для определения уровня информатизации струкрур ИОГВ. Полная версия без cookie и сбора дополнительной информации кроме ответов.</p>
            <a href="/survey/one_page" class="btn btn-primary">Пройти</a>
        </div>
    </div>
</div>

{% endblock %}