{% extends 'admin/base.html' %}

{% block content %}
{{ super() }}
<form action="/admin/auth" method="POST">
    <div class="row justify-content-center">
        <div class="">
            <h2 class="mb-3">Регистрация</h2>
            <form>
                <div class="form-group">
                    <label for="username">Логин</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</form>
{% endblock %}