{% extends 'admin/base.html' %}

{% block content %}
{{ super() }}
    <h2>Данные опрашиваемых.</h2>
    <div class="container">
        <div class="user-data border-black border-2 container">
            <div class="download-block">
                <h3>Скачивание данных</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Вес</th>
                            <th>Ссылка на скачивание</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Скачать xlsx данные</td>
                        <td>Вес</td>
                        <td><a href="" class="btn btn-secondary" id="d1">Скачать</a></td>
<!--                        <td><input type="button" value="Скачать" class="btn btn-secondary" onclick="downloadFile('xslx')"></td>-->
                    </tr>
                    <tr>
                        <td>Скачать json данные</td>
                        <td>Вес</td>
                        <td><a href="" class="btn btn-secondary" id="d2">Скачать</a></td>
<!--                        <td><input type="button" value="Скачать" class="btn btn-secondary" onclick="downloadFile('json')"></td>-->
                    </tr>
                    <tr>
                        <td>Скачать базу данных</td>
                        <td>Вес</td>
                        <td><a href="" class="btn btn-secondary" id="d3">Скачать</a></td>
<!--                        <td><input type="button" value="Скачать" class="btn btn-secondary" onclick="downloadFile('database')"></td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("d1").href = location.protocol + '//' + location.host + `/admin/download/xlsx`
        document.getElementById("d2").href = location.protocol + '//' + location.host + `/admin/download/json`
        document.getElementById("d3").href = location.protocol + '//' + location.host + `/admin/download/database`

        async function downloadFile(file) {
            let response = await fetch(location.protocol + '//' + location.host + `/admin/user_data?content=${file}`);
            console.log(location.protocol + '//' + location.host + `/admin/user_data?content=${file}`)
            if (response.ok) {
                console.log("ok") // если HTTP-статус в диапазоне 200-299
              // получаем тело ответа (см. про этот метод ниже)
              // let json = await response.json();
            } else {
              alert("Ошибка HTTP: " + response.status);
            }
        }
    </script>
{% endblock %}