{% extends 'survey/base.html' %}

{% block content %}
{{ super() }}
<div class="container-sm">
    <div class="card m-5">
        <h5 class="card-header">Опрос для ИОГВ</h5>
        <div class="card-body">
            <h5 class="card-title">Уважаемый респондент!</h5>
            <p class="card-text">Во исполнение Стратегии в области цифровой трансформации отраслей экономики, социальной сферы и государственного управления Санкт-Петербурга от 11.10.2022, утвержденной Губернатором Санкт-Петербурга Бегловым А.Д., просим Вас принять участие в анкетировании по оценке цифровой зрелости.</p>
            <p class="card-text">В период с декабря 2021 по август 2022 года был проведен первый из трех предусмотренных этапов по оценке цифровой зрелости. В 2023 и в 2024 годах будут выполнены второй и третий этапы соответственно.</p>
            <p class="card-text">Анализ текущего состояния цифровой зрелости и сравнение результатов за предыдущий период позволяет выявлять приоритетные направления для повышения эффективности деятельности, а также по реализации наиболее эффективных мероприятий цифровой трансформации исполнительных органов государственной власти.</p>
            <a href="{{ url_for('survey.one_page') }}" class="btn btn-primary">Пройти опрос</a>
        </div>
    </div>
</div>
{% endblock %}
