@font-face {
    font-family: GolosTextWebRegular;
    src: url("../fonts/Golos-Text/golos-text_regular.woff");
}

html, body {
    font-family: "GolosTextWebRegular";
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.notification {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9999;
        }