<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/docs.css') }}">
    <script src="{{ url_for('static', filename='script/bootstrap.bundle.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container d-flex flex-column justify-content-center align-items-center pb-lg-5" style="max-width: 1800px;">
        {% block nav -%}
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ url_for('survey.one_page') }}">Опросник</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ url_for('admin.dashboard') }}">Админка</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" href="{{ url_for('admin.view_committees') }}">Просмотр коммитетов</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ url_for('admin.user_data') }}">Данные опрашиваемых</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ url_for('admin.statistics') }}">Статистика</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock -%}

        <div id="message"></div>

        {% block content -%}
        {% endblock -%}
    </div>

    <script src="{{ url_for('static', filename='script/committees.js') }}"></script>
</body>
</html>
