{% extends 'admin/base.html' %}

{% block content %}

<h1>Управление вопросами</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Направление
                </th>
                <th>
                    Критерий
                </th>
                <th>
                    Подкритерий
                </th>
                <th>
                    Вопрос
                </th>
                <th>
                    Ответы (пункты)
                </th>
            </tr>
        </thead>
        <tbody>
            {% for direction in directions %}
                <tr>
                    <td rowspan="{{ direction.total_rows }}">{{ direction.title }}</td>
                    <td colspan="4">{{ direction.criterions[0].title }}</td>
                </tr>
                {% for criterion in direction.criterions %}
                    {% if not loop.first %}
                        <tr>
                            <td colspan="4">{{ criterion.title }}</td>
                        </tr>
                    {% endif %}
                    {% for subcriterion in criterion.subcriterions %}
                        <tr class="nested">
                            <td></td>
                            <td colspan="3">{{ subcriterion.title }}</td>
                        </tr>
                        {% for question in subcriterion.questions %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td>{{ question.title }}</td>
                                <td>
                                    <ul>
                                        {% for punct in question.puncts %}
                                            <li>{{ punct.title }} ({{ punct.range_min }} - {{ punct.range_max }})</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

<script>
    $(function(){
  $("table").colResizable();
});
</script>
{% endblock %}
