{% extends 'admin/base.html' %}

{% block content %}

<h1>Управление вопросами</h1>\
    {% for direction in data.directions %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Направление</th>
                    <th>Критерия</th>
                    <th>Подкатегория</th>
                    <th>Вес</th>
                    <th>Вопрос 1</th>
                    <th>Вопрос 2</th>
                    <th>Вопрос 3</th>
                    <th>Вопрос 4</th>
                </tr>
            </thead>
            <tbody>
                    {% for criterion in direction.criterions %}
                <tr>
                    <td rowspan="{{ direction.criterions|length }}">
                        {{ direction.title }}
                    </td>
                    <td rowspan="{{ criterion.subcriterions|length }}">{{ criterion.title }}</td>
                    {% for subcriterion in criterion.subcriterions %}
                        <td>{{ subcriterion.title }}</td>
                        <td>{{ subcriterion.weight }}</td>
                        {% for punct in subcriterion.puncts %}
                            <td>{{ punct.title }}</td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                    {% endfor %}
            </tbody>
        </table>
    {% endfor %}
<script>
    $(function(){
  $("table").colResizable();
});
</script>
{% endblock %}
