{% extends 'admin/base.html' %}

{% block content %}
{{ super() }}
    <h2>Данные опрашиваемых.</h2>
    <div class="container">
        <div class="user-data border-black border-2 container">
            <div class="download-block">
                <h3>Скачивание данных</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Формат</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Xlsx данные</td>
                        <td><a href="{{ url_for('admin.download', filetype='xlsx') }}" class="btn btn-secondary">Скачать</a></td>
                    </tr>
                    <tr>
                        <td>Json данные</td>
                        <td><a href="{{ url_for('admin.download', filetype='json') }}" class="btn btn-secondary">Скачать</a></td>
                    </tr>
                    <tr>
                        <td>База данных</td>
                        <td><a href="{{ url_for('admin.download', filetype='database') }}" class="btn btn-secondary">Скачать</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
